{% extends 'base/base.html' %}
{% load static i18n crispy_forms_tags crispy_forms_field %}
{% block title %}
About Us
{% endblock title %}

{% block content %}
{% url 'frontend:Home' as home_url %}
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7">
                <div class="inner-title">
                    <h3>About Us</h3>
                    <ul>
                        <li>
                            <a href="{{home_url}}">Home</a>
                        </li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="inner-img">
                    <img src="{% static 'theme/assets/images/inner-banner/inner-banner1.png' %}" alt="Inner Banner" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-item">
                    <div class="about-slider owl-carousel owl-theme">
                        <div class="about-img">
                            <div class="top-border"></div>
                            <img src="{% static 'theme/assets/images/about/about-img1.jpg' %}" alt="About" />
                            <div class="bottom-border bottom-border-color"></div>
                        </div>
                        <div class="about-img">
                            <div class="top-border"></div>
                            <img src="{% static 'theme/assets/images/about/about-img2.jpg' %}" alt="About" />
                            <div class="bottom-border bottom-border-color"></div>
                        </div>
                        <div class="about-img">
                            <div class="top-border"></div>
                            <img src="{% static 'theme/assets/images/about/about-img3.jpg' %}" alt="About" />
                            <div class="bottom-border bottom-border-color"></div>
                        </div>
                    </div>
                    <div class="about-vector">
                        <img src="{% static 'theme/assets/images/about/about-vector.png' %}" alt="About" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content pl-20">
                    <div class="section-title">
                        <span>About us</span>
                        <h2>Moisturize Your Hands Everyday</h2>
                        <p>Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled but also the leap into electronic
                            typesetting. </p>
                        <p>Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-area section-bg ptb-100">
    <div class="container">
        <div class="section-title mb-45 text-center">
            <span>Our Services</span>
            <h2>What We Offer</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-6">
                <div class="services-card">
                    <a href="#service_detail_link">
                        <img src="{% static 'theme/assets/images/services/services-img1.jpg' %}" alt="Services" />
                    </a>
                    <div class="content">
                        <h3><a href="#service_detail_link">Glitter For Nail Art</a></h3>
                        <a href="#service_detail_link" class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="services-card">
                    <a href="#service_detail_link">
                        <img src="{% static 'theme/assets/images/services/services-img2.jpg' %}" alt="Services" />
                    </a>
                    <div class="content">
                        <h3><a href="#service_detail_link">Classic Nail Pedicure</a></h3>
                        <a href="#service_detail_link" class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="services-card">
                    <a href="#service_detail_link">
                        <img src="{% static 'theme/assets/images/services/services-img3.jpg' %}" alt="Services" />
                    </a>
                    <div class="content">
                        <h3><a href="#service_detail_link">Paraffin For Nail Hands</a></h3>
                        <a href="#service_detail_link" class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="services-card">
                    <a href="#service_detail_link">
                        <img src="{% static 'theme/assets/images/services/services-img4.jpg' %}" alt="Services" />
                    </a>
                    <div class="content">
                        <h3><a href="#service_detail_link">Deep Paraffin Waxing</a></h3>
                        <a href="#service_detail_link" class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="services-card">
                    <a href="#service_detail_link">
                        <img src="{% static 'theme/assets/images/services/services-img5.jpg' %}" alt="Services" />
                    </a>
                    <div class="content">
                        <h3><a href="#service_detail_link">Classic Nail Manicure</a></h3>
                        <a href="#service_detail_link" class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="services-card">
                    <a href="#service_detail_link">
                        <img src="{% static 'theme/assets/images/services/services-img6.jpg' %}" alt="Services" />
                    </a>
                    <div class="content">
                        <h3><a href="#service_detail_link">Art Nail & Effects</a></h3>
                        <a href="#service_detail_link" class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-vector">
            <img src="{% static 'theme/assets/images/services/services-vector.png' %}" alt="vector" />
        </div>
    </div>
</div>


<div class="intro-video-area section-bg pb-100">
    <div class="container">
        <div class="video-content">
            <a href="https://www.youtube.com/watch?v=Zd00oIDAt60" class="play-btn">
                <i class="ri-play-fill"></i>
            </a>
        </div>
        <div class="section-title text-center pt-100">
            <span class="color1">You're Welcomed!</span>
            <h2 class="color1">We Care About Your Nail And Your well-Being</h2>
        </div>
    </div>
</div>


<div class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title mb-45 text-center">
            <span>Our Staff</span>
            <h2>Our Excellent & Expert Staff</h2>
            <div class="section-vector">
                <img src="{% static 'theme/assets/images/shape/section-vector.png' %}" alt="vector" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                    <div class="team-img">
                        <a href="#team_details_link">
                            <img src="{% static 'theme/assets/images/team/team-img1.jpg' %}" alt="Team" />
                        </a>
                        <ul class="social-links-btn">
                            <li class="share-btn"><i class="flaticon-arrow-pointing-to-right"></i></li>
                            <li>
                                <a href="https://vimeo.com/" target="_blank">
                                    <i class="ri-vimeo-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#team_details_link">
                                Lorenzo Diego
                            </a>
                        </h3>
                        <span>Nail Specialist</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                    <div class="team-img">
                        <a href="#team_details_link">
                            <img src="{% static 'theme/assets/images/team/team-img2.jpg' %}" alt="Team" />
                        </a>
                        <ul class="social-links-btn">
                            <li class="share-btn"><i class="flaticon-arrow-pointing-to-right"></i></li>
                            <li>
                                <a href="https://vimeo.com/" target="_blank">
                                    <i class="ri-vimeo-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#team_details_link">
                                Gabriele Edoardo
                            </a>
                        </h3>
                        <span>Senior Stylist</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                    <div class="team-img">
                        <a href="#team_details_link">
                            <img src="{% static 'theme/assets/images/team/team-img3.jpg' %}" alt="Team" />
                        </a>
                        <ul class="social-links-btn">
                            <li class="share-btn"><i class="flaticon-arrow-pointing-to-right"></i></li>
                            <li>
                                <a href="https://vimeo.com/" target="_blank">
                                    <i class="ri-vimeo-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#team_details_link">
                                Matteo Lorenzo
                            </a>
                        </h3>
                        <span>Pedicure Specialist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonial-area section-bg pt-100 pb-70">
    <div class="container">
        <div class="section-title mb-45 text-center">
            <span>Our Testimonial</span>
            <h2>What Our Clients Feedback</h2>
        </div>
        <div class="testimonial-slider owl-carousel owl-theme">
            <div class="testimonial-item">
                <img src="{% static 'theme/assets/images/testimonial/testimonial-img1.jpg' %}" alt="Testimonial" />
                <h3>Emanuele Ebrew</h3>
                <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas
                    vestibulum tortor quam feugiat vit tristique senectus</p>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
            </div>
            <div class="testimonial-item">
                <img src="{% static 'theme/assets/images/testimonial/testimonial-img2.jpg' %}" alt="Testimonial" />
                <h3>Giovanni Loren</h3>
                <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas
                    vestibulum tortor quam feugiat vit tristique senectus</p>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
            </div>
            <div class="testimonial-item">
                <img src="{% static 'theme/assets/images/testimonial/testimonial-img3.jpg' %}" alt="Testimonial" />
                <h3>Massimo Pasquale</h3>
                <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas
                    vestibulum tortor quam feugiat vit tristique senectus</p>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
            </div>
            <div class="testimonial-item">
                <img src="{% static 'theme/assets/images/testimonial/testimonial-img4.jpg' %}" alt="Testimonial" />
                <h3>Gabriele Edoardo </h3>
                <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas
                    vestibulum tortor quam feugiat vit tristique senectus</p>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="booking-area pt-100 pb-70" id="contact_us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="book-img">
                    <img src="{% static 'theme/assets/images/book/book-img1.jpg' %}" alt="Book" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="booking-form pl-20">
                    <div class="section-title mb-45">
                        <span>For Your Service</span>
                        <h2>Make An Appointment</h2>
                    </div>
                    <form action="{% url 'frontend:Appointment' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                            <div class="{% if field.html_name == 'message' %}col-lg-12{% else %}col-lg-6{% endif %}">
                                <div class="form-group">
                                    {{field|as_crispy_field}}
                                </div>
                            </div>

                            {% endfor %}

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn">
                                    Book Now
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="gallery-area pt-100">
    <div class="container-fluid p-0">
        <div class="gallery-width">
            <div class="follow-area">
                <a href="https://www.instagram.com/?hl=en" target="_blank" class="follow-btn">
                    <i class="ri-instagram-line"></i>
                </a>
                <h3>Follow Our Instagram</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="gallery-img">
                        <img src="{% static 'theme/assets/images/gallery/gallery-img1.jpg' %}" alt="Gallery" />
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="gallery-img">
                        <img src="{% static 'theme/assets/images/gallery/gallery-img2.jpg' %}" alt="Gallery" />
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="gallery-img">
                        <img src="{% static 'theme/assets/images/gallery/gallery-img3.jpg' %}" alt="Gallery" />
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="gallery-img">
                        <img src="{% static 'theme/assets/images/gallery/gallery-img4.jpg' %}" alt="Gallery" />
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="gallery-img">
                        <img src="{% static 'theme/assets/images/gallery/gallery-img5.jpg' %}" alt="Gallery" />
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="gallery-img">
                        <img src="{% static 'theme/assets/images/gallery/gallery-img6.jpg' %}" alt="Gallery" />
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="gallery-img">
                        <img src="{% static 'theme/assets/images/gallery/gallery-img7.jpg' %}" alt="Gallery" />
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="gallery-img">
                        <img src="{% static 'theme/assets/images/gallery/gallery-img8.jpg' %}" alt="Gallery" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}